/*
 * Root Nextflow configuration for DADA2-NF
 * nf-core migration scaffold
 */

manifest {
    name            = "DADA2-NF: Nextflow-powered DADA2 implementation"
    author          = 'Lars Schreiber'
    description     = 'Amplicon sequencing pipeline for DADA2-based processing.'
    homePage        = 'https://github.com/lschreib/DADA2-NF'
    version         = '0.2.0'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.10.0'
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'
includeConfig 'conf/resources.config'

profiles {
    test {
        includeConfig 'conf/test.config'
    }

    docker {
        includeConfig 'conf/docker.config'
    }

    singularity {
        includeConfig 'conf/singularity.config'
    }

    nrc {
        includeConfig 'conf/nrc.config'
    }
}
