/*
 * Root Nextflow configuration for DADA2-NF
 * nf-core migration scaffold
 */

manifest {
    name            = 'lschreib/DADA2-NF'
    author          = 'Lars Schreiber'
    description     = 'Amplicon sequencing pipeline for DADA2-based processing.'
    homePage        = 'https://github.com/lschreib/DADA2-NF'
    version         = '0.2.0'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.0'
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'
includeConfig 'conf/resources.config'

profiles {
    test_short_16S {
        includeConfig 'conf/test_short_16S.config'
    }

    test_long_16S {
        includeConfig 'conf/test_long_16S.config'
    }

    test_short_its {
        includeConfig 'conf/test_short_its.config'
    }
    
    singularity {
        includeConfig 'conf/singularity.config'
    }

    nrc {
        includeConfig 'conf/nrc.config'
    }
}
