/*
 * Container runtime profile: Singularity / Apptainer behavior
 */

singularity {
    enabled      = true
    autoMounts   = true
    runOptions   = "-B \$TMPDIR -B \$SINGULARITY_TMPDIR:/tmp -B \$SINGULARITY_TMPDIR:/scratch ${params.singularity_extra_mounts ?: ''} --cleanenv"
    envWhitelist = ['TMPDIR', 'SINGULARITY_TMPDIR']
}
