/*
 * Container runtime profile: Singularity / Apptainer behavior
 */

singularity {
    enabled     = true
    autoMounts  = true
    runOptions  = '-B $TMPDIR -B $SINGULARITY_TMPDIR:/tmp -B $SINGULARITY_TMPDIR:/scratch -B $DATABASES -B $HOST_PROJECT_DIR --cleanenv'
    // Allow Singularity to access bashrc variables
    envWhitelist = ['TMPDIR','SINGULARITY_TMPDIR','DATABASES','HOST_PROJECT_DIR']
}
